.header {
z-index: 100;
    &__container {
        min-height: 103px;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        // @media (max-width: 768.98px) {
        //     flex-direction: column;
        //     justify-content: center;
        //     row-gap: 20px;
        // }
    }

    &__logo {
        font-size: 23px;
        font-weight: 800;
    }


}
.navigation {
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        column-gap: 46px;
        row-gap: 6px;
        transform: translateY(20%);
        @media (max-width: 1199.98px) {
            column-gap: 38px;
        }
        @media (max-width: 989.98px) {
            column-gap: 34px;
        }

        @media (max-width: 768.98px) {
            font-size: 18px;
            row-gap: 12px;
            justify-content: center;
        }
    }

    &__item {
        font-weight: 700;
    }

    &__link{

    }
    &__link {
        position: relative;
        text-decoration: none;
        color: inherit;
        display: inline-block;
        padding-bottom: 4px;

        &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 0;
        height: 3px;
        background-color: #414044af;
        transition: width 0.3s ease-in-out;
        }
        
        &:hover::after {
            width: 100%;
        }
    }
}


