.how {

	&__container {
	padding-block: 100px;
	@media (max-width: 1200.98px) {
		padding-block: 80px;
		}
	@media (max-width: 768.98px) {
		padding-block: 60px;
		}
	@media (max-width: 520.98px) {
		padding-block: 40px;
		}
	}
	
	&__title {
		text-align: center;
	}

	&__items {
		display: flex;
		justify-content: center;
		align-items: start;
		gap: 150px;
		margin-top: 60px;
		@media (max-width: 1200.98px) {
			gap: 100px;
		}
		@media (max-width: 768.98px) {
			gap: 20px;
			margin-top: 24px;
		}
		@media (max-width: 600.98px) {
			flex-wrap: wrap;
			column-gap: 80px;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 16px;
		flex: 0 1 260px;
		@media (max-width: 1200.98px) {
			flex: 0 1 220px;
		}
		@media (max-width: 768.98px) {
			flex: 0 1 180px;
		}
		@media (max-width: 520.98px) {
			flex: 0 1 150px;
		}
	}
	
}


.item {
	position: relative;
	&::after{
	content: '';
	width: 100%;
	max-width: 210px;
	height: 11px;
	position: absolute;
	top: 17%;
	left: 86%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	@media (max-width: 1200.98px) {
		top: 13%;
		left: 83%;
		max-width: 160px;
		}
	@media (max-width: 768.98px) {
		max-width: 92px;
		left: 80%;
		}
	@media (max-width: 600.98px) {
		left: 90%;
		max-width: 120px;
		}	
	}	
	&:nth-child(1)::after {
		background-image: url('../img/decoration-line-1.svg');
	}
	&:nth-child(2)::after {
		background-image: url('../img/decoration-line-2.svg');
		@media (max-width: 600.98px) {
			display: none;
		}
	}
		
		&__icon {
			margin-inline: auto;
			border-radius: 20%;
			width: 90px;
			height: 90px;
			display: flex;
			justify-content: center;
			margin-bottom: 35px;
			&.purple {
				background-color: #A58CEE;
			}
			&.blue {
				background-color: #57CFC1;
			}
			&.pink {
				background-color: #E599DD;
			}
			@media (max-width: 1200.98px) {
				width: 80px;
				height: 80px;
			}
			@media (max-width: 768.98px) {
				width: 60px;
				height: 60px;
				margin-bottom: 30px;
			}
			@media (max-width: 560.98px) {
				margin-bottom: 24px;
			}

		}

		&__subtitle {
			font-size: 22px;
			font-weight: 600;
			@media (max-width: 1200.98px) {
				font-size: 20px;
			}
			@media (max-width: 768.98px) {
				font-size: 18px;
			}
			@media (max-width: 560.98px) {
				font-size: 16px;
			}
			
		}

		&__text {
			color: #333;
			font-weight: 400;
			line-height: 26px;
			@media (max-width: 768.98px) {
				line-height: 18px;
				font-size: 14px;
			}
			@media (max-width: 520.98px) {
				line-height: 16px;
			}
			
		}
}
