.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}


.main-block {
    margin-bottom: 120px;
    @media (max-width: 1199.98px) {
        margin-bottom: 100px;
    }
    @media (max-width: 989.98px) {
        margin-bottom: 80px;
    }
    @media (max-width: 768.98px) {
        margin-bottom: 60px;
    }

    &__container {
        padding-top: 184px;

        position: relative;
        @media (max-width: 1199.98px) {
            padding-top: 240px;
        }
        @media (max-width: 989.98px) {
            padding-top: 200px;
        }
        @media (max-width: 768.98px) {
            padding-top: 160px;
        }
        @media (max-width: 520.98px) {
            padding-top: 120px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 68%;
            width: 200%;
            height: 100%;
            background-color: #BDCCFF;
            z-index: -1;
        }

    }

    &__body {
        display: flex;
        column-gap: 5%;
        margin-bottom: 14px;
        align-items: flex-start;
        @media (max-width: 1199.98px) {
            margin-bottom: 36px;
        }
        @media (max-width: 768.98px) {
            flex-direction: column;
            row-gap: 24px;
        }
        @media (max-width: 520.98px) {
            row-gap: 30px;
        }
    }

    &__content {
        margin-top: 40px;
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        row-gap: 24px;
        @media (max-width: 1199.98px){
            row-gap: 18px;
            flex: 0 1 40%;
            margin-top: -40px;
        }
        @media (max-width: 989.98px){
            row-gap: 10px;
            flex: 0 1 45%;
            margin-top: -20px;
        }
        @media (max-width: 768.98px) {
            flex: 0 1 100%;
            margin-top: 0;
        }
    }

    &__subtitle {
        color: #f90;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        @media (max-width: 989.98px){
            font-size: 20px;
        }
        @media (max-width: 520.98px) {
            font-size: 18px;
        }
    
    }

    &__title {
        font-size: 54px;
        font-weight: 800;
        line-height: 73px;
        @media (max-width: 1199.98px){
            font-size: 44px;
            line-height: 60px;
        }
        @media (max-width: 989.98px){
            font-size: 36px;
            line-height: 50px;
        }
        @media (max-width: 520.98px) {
            font-size: 30px;
            line-height: 40px;
        }
        

    }

    &__text {
        color: #31353b;
        font-size: 17px;
        line-height: 1.3;
        @media (max-width: 1199.98px) {
            font-size: 16px;
        }
        @media (max-width: 520.98px) {
            font-size: 15px;
        }

    }

    &__form {
        display: flex;
        height: 86px;
        position: relative;
        z-index: 2;
        margin-top: 16px;
        @media (max-width: 1199.98px) {
            height: 76px;
        }
        @media (max-width: 989.98px) {
            height: 66px;
            margin-top: 40px;
        }
        @media (max-width: 768.98px) {
            height: 56px;
            margin-top: 20px;
        }
        @media (max-width: 520.98px) {
            flex-direction: column;
            gap: 12px;
            min-height: 120px;
        }
    }
    
    &__input {
        background: url('../img/Icon.svg') 33px 50% no-repeat;
        padding: 0 0 0 74px;
        flex: 0 0 110.5%;
        border: 1px solid #acabad;
        border-right: none;
        border-radius: 0px;
        box-shadow: 0 8.148148536682129px 6.518518447875977px 0 rgba(0,0,0,.01),0 20px 13px 0 rgba(0,0,0,.01),0 38.51852035522461px 25.481481552124023px 0 rgba(0,0,0,.02),0 64.81481170654297px 46.85185241699219px 0 rgba(0,0,0,.02),0 100px 80px 0 rgba(0,0,0,.03);
        font-size: 20px;
        &::placeholder {
            color: #919191;
        }
        @media (max-width: 1199.98px) {
            font-size: 16px;
            flex: 0 0 112%;

        }
        @media (max-width: 989.98px){
            flex: 0 0 111.5%;
            font-size: 14px;
            padding: 0 0 0 50px;
            background-position: 18px 50%;
            background-size: 20px;
        }
        @media (max-width: 768.98px) {
            flex: 0 0 69%;
        }
        @media (max-width: 520.98px) {
            flex: 0 0 50%;
            border-right: 1px solid #acabad;
            background-color: #fff;
        }
    }

    &__button {
        background-color: #F85A47;
        color: #fff;
        flex: 0 0 37.5%;
        font-size: 17px;
        font-weight: 700;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        z-index: 2;
        transition: all 0.3s ease;
        @media (max-width: 1199.98px) {
            flex: 0 0 55%;

        }
        @media (max-width: 989.98px) {
            flex: 1 0 45%;
            font-size: 16px;
        }
        @media (max-width: 768.98px) {
            flex: 0 0 31%;
            font-size: 14px;
        }
        @media (max-width: 520.98px) {
            flex: 0 0 50%;
        }
        &:after {
            background: #fff;
            content: "";
            height: 180px;
            left: -75px;
            opacity: .15;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
            width: 40px;
            z-index: 3;
        }
        @media  (min-width: 768.98px) {
            
            &:hover {
                &:after {
                    left: 120%;
                    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                }
            }

            &:active {
                box-shadow: 2px 2px 10px rgba(#c2a3a3, 0.7);
                background: darken(#F85A47, 5%);
                color: lighten(#F85A47, 58%); 
                transition: all 100ms linear;
            }
        }


        @media (max-width: 768.98px) {
            &:active {
                transform: translateY(1px);
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
            }
            
        }
    }

    &__swiper {
        flex: 0 1 50%;
        @media (max-width: 1199.98px) {
            flex: 1 0 60%;
        }
        @media (max-width: 989.98px) {
            flex: 0 1 55%;
        }
        @media (max-width: 768.98px) {
            flex: 0 1 100%;
            width: 100%;
        }
    }

}


//- Partners styles

.partners {

    &__label {
        color: #31353b;
        font-size: 17px;
        padding-bottom: 27px;
        line-height: 1.3;
        @media (max-width: 1199.98px) {
            padding-bottom: 16px;
        }
        @media (max-width: 600.98px) {
            padding-bottom: 10px;
        }
    }

    &__companies {
        max-width: 68%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 10px;
        align-items: center;
        @media (max-width: 1199.98px) {
            column-gap: 70px;
            row-gap: 14px;
            max-width: 54%;
        }
        @media (max-width: 1024.98px) {
            row-gap: 6px;
        }
        @media (max-width: 768.98px) {
            max-width: 70%;
        }
        @media (max-width: 590.98px) {
            column-gap: 30px;
            max-width: 68%;

        }
    
    }
    &__company {
        @media (max-width: 1199.98px) {
            max-width: 20%;
        }
        @media (max-width: 1024.98px) {
            overflow: hidden;
            flex: 1 1 20%;
            img {
                width: 100%;
            }
        }
        @media (max-width:590.98px) {
            flex: 0 1 30%;

        }
    }

}


//- Swiper styles


.swiper {
    box-shadow: 0 8px 6.5px 0 rgba(0,0,0,0.1),0 20px 13px 0 rgba(0,0,0,0.1),0 38px 25px 0 rgba(0,0,0,0.1),0 65px 47px 0 rgba(0,0,0,0.1),0 100px 80px 0 rgba(0,0,0,0.1);

    .swiper-slide {
        position: relative;
        padding-bottom: 95%;

        img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        }
    }

}

//- Arrows styles

.arrows {
    position: absolute;
    display: flex;
    gap: 48px;
    right: 0; 
    bottom: 30px;
    @media (max-width: 1199.98px) {
        gap: 54px;
    }
    @media (max-width: 768.98px) {
        gap: 44px;
        right: 20px;
        bottom: 15px;
    }
    @media (max-width: 600.98px) {
        gap: 30px;
    }


		&__arrow--prev,
        &__arrow--next {

            position: static;
            height: 32px;
            width: 18px;
            background: url('../img/Arrow.svg') 0 0 / 100% no-repeat;
            cursor: pointer;
            @media (max-width: 600.98px) {
                height: 24px;
                width: 14px;
            }
            &:hover,
            &:active{
            filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
            }

            &::after{
                display: none;
            }

        }


		&__arrow--prev {
            transform: rotate(180deg);
            background-position: 0 2px;
        }
}

