.newsletter {

		&__container {
            text-align: center;
        }

		&__title {
            font-size: 45px;
            font-weight: 700;
            line-height: 65px;
            margin-bottom: 11px;
            @media (max-width: 1200px) {
                font-size: 40px;
                line-height: 60px;
                margin-bottom: 0px;
            }
            @media (max-width: 768px) {
                font-size: 36px;
                line-height: 50px;
            }
            @media (max-width: 520px) {
                font-size: 28px;
                line-height: 45px;
            }
            @media (max-width: 380px) {
                font-size: 24px;
                line-height: 40px;
            }
		}

		&__subtitle {
            font-size: 23px;
            font-weight: 700;
            line-height: 33px;
            margin-bottom: 34px;
            @media (max-width: 1200px) {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 24px;
            }
            @media (max-width: 768px) {
                font-size: 18px;
                line-height: 26px;
                margin-bottom: 20px;
            }
            @media (max-width: 520px) {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 16px;
            }
            @media (max-width: 380px) {
                font-size: 14px;
                line-height: 22px;
                margin-bottom: 12px;
            }
        }

		&__form {
		}
}

.form-newsletter {
        display: inline-block;
        padding: 27px 45px;
        box-shadow: 0 7px 20px 2px #00000029;
        @media screen and (max-width: 1200px) {
            padding: 20px 30px;
            
        }
        @media screen and (max-width: 768px) {
            padding: 15px 20px;
        }
        @media screen and (max-width: 520px) {
            padding: 12px 15px;
        }
        @media screen and (max-width: 380px) {
            padding: 10px 12px;
        }


		&__body {
            display: flex;
            gap: 30px;
            @media (max-width: 1200px) {
                gap: 20px;
            }
            @media (max-width: 768px) {
                gap: 15px;
            }
            @media (max-width: 520px) {
                gap: 10px;
            }
            @media (max-width: 360px) {
                gap: 8px;
            }
		}

		&__input {
            min-width: 400px;
            flex: 1 1 60%;
            font-size: 20px;
            font-weight: 500;
            @media screen and (max-width: 1200px) {
                font-size: 18px;
                min-width: 360px;
            }
            @media screen and (max-width: 768px) {
                min-width: 280px;
                font-size: 16px;
            }
            @media screen and (max-width: 460px) {
                min-width: 200px;
            }
            @media screen and (max-width: 380px) {
                min-width: 140px;
                font-size: 14px;

            }


            &::placeholder{
                font-size: 20px;
                @media screen and (max-width: 1200px) {
                    font-size: 18px;
                }
                @media screen and (max-width: 768px) {
                    font-size: 16px;
                }
                @media screen and (max-width: 380px) {
                    font-size: 14px;
                }
            }
		}

		&__button {
            flex: 1 1 40%;
            padding: 23px 40px;
            background-color: #f85a47;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            @media screen and (max-width: 1200px) {
                padding: 20px 30px;
                font-size: 16px;
            }
            @media screen and (max-width: 1200px) {
                padding: 18px 26px;
                font-size: 16px;
            }
            @media screen and (max-width: 520px) {
                padding: 12px 20px;
                font-size: 12px;
            }
		}
}

